# data
generated_data/
prep_test_input_data/
input_test_data/
output_test_data/

# Python bytecode files
*.pyc
*.pyo

# Virtual environment
.venv/
env/

# AWS related
*.env
.aws/
.aws-sdk/
*.json

# S3 files
models/
artifacts/

# IDE settings
.idea/
.vscode/

# MacOS specific files
.DS_Store

# Secrets
secrets/

#mlflow artifacts and runs
mlartifacts/
mlruns/
